# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Vite / Vue
.vite/
vite.config.ts.timestamp-*

# Vue devtools
.vue-devtools/

# Environment variables
.env
.env.local
.env.*.local

### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon


# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent